extends layout

block content
 
  div(class='w-full m-10')
    h1(class='text-6xl font-bold text-center mb-20') #{title}
    if categories.length
      div(class='grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 w-full gap-10')
        each category in categories
          a(href=category.url class='group bg-slate-300 shadow-xl border-2 border-slate-500 rounded-md p-2 flex flex-col h-56 hover:bg-slate-400 ease-in duration-100')
            div(class='h-full p-2 flex flex-col')
              h2(class='text-3xl font-medium block text-slate-900 ease-in duration-75 group-hover:text-slate-100') #{category.name}
              div(class='mt-auto')
                p(class='text-lg text-slate-700 italic') #{category.description}
              div(class='flex justify-end mt-auto')
                div(class='bg-slate-900 text-slate-50 w-11 text-center p-3 flex justify-center rounded-full') 
                  p #{category.count}
    else
      p(class='text-center text-xl') No categories yet!
      a(href='/inventory/categories/create' class='block text-center text-xl hover:underline') Click here to create one