extends layout

block content
  h1 #{category.name}
  if categoryItems.length
    p #[strong You must remove all items before deleting a category]
    h4 Items
    ul
      each item in categoryItems
        li
          a(href=item.url) #{item.name}
  else
    p Are you sure you want to delete this category?
    a(href=category.url) No don't delete
    form(method='POST')
      input(type='hidden' name='categoryid' value=category._id)
      button(type='submit') Delete
